/*General y cuerpo*/

div {
    display: flex;
}

body {
    display: block;
    background-image: url('../img/fnodo1.jpg');
    background-size: cover;
}

h2 {
    text-align: center;
    margin-top: 2.7em;
    font-size: 3em;
    margin-bottom: 2em;
}

.errores{
    display: block;
}

/*cabecera*/

.cabecera {
    background-image: url('../img/cabecera.png');
    height: 15em;
}

.cabecera a {
    color: white;
}

.cabecera h1 {
    margin-left: 6.5em;
    font-size: 80px;
    font-family: 'Estonia', cursive;
}

.logo {
    height: 13em;
    width: 13em;
    margin-top: 1em;
    margin-left: 2em;
}

.redesSociales {
    position: absolute;
    right: 2em;
    top: 3em;
}

.inicio {
    position: absolute;
    right: 2em;
    top: 10em;
}

.regis {
    position: absolute;
    right: 2em;
    top: 12em;
}

.redesSociales img {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}


/*Formulario*/

label {
    font-size: 1.6em;
    margin-left: 18em;
    visibility: visible;
}

.datos {
    visibility: visible;
    width: 30em;
    font-size: 1.2em;
}

.envio {
    height: 2em;
    width: 6em;
    margin-left: 50em;
    margin-bottom: 4em;
    font-size: 1.1em;
    margin-top: 2em;
}

table {
    width: 100%;
    margin-bottom: 3em;
}

td {
    padding: 1%;
}

.error {
    border: solid 2px #FF0000;
    width: 30em;
    font-size: 1.2em;
}

.cuenta{
    width: 30em;
    font-size: 1.2em;
    visibility: hidden;
}

.labelCuenta{
    font-size: 1.6em;
    margin-left: 18em;
    visibility: hidden;
}

.errores{
    float: left;
    background: #FF6633;
    width: 20%;
    margin-left: 40%;
    font-size: 1.3em;
    margin-bottom: 3%;
    text-align: center;
}